# This is a basic workflow to help you get started with Actions

name: CI


# Controls when the workflow will run
on:
  schedule:
    - cron:  '1 * * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
  #Variables
env:
  POSTMAN_COLLECTION: https://api.getpostman.com/collections/${c_uid}?apikey=${apiKey}
  POSTMAN_ENVIRONMENT: https://api.getpostman.com/environments/${e_uid}?apikey=${apiKey}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
    # Install newman
      - name: Install newman
        run: | 
          npm install -g newman
          npm install -g newman-reporter-htmlextra
      - name: Install cURL Headers
        run: sudo apt-get install libcurl4-openssl-dev
    # Install script
      - name: Before script
        run: |
          curl -sL https://deb.nodesource.com/setup_14.x | bash -
          apt-get install -y nodejs
          npm install newman -g
